@import "!reset";

html {
    //overflow: visible;
}

body {
    //overflow-y: hidden;
    font-family: Montserrat, sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    //justify-content: space-between;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    
}

.content {
    flex: 1 1 100%;
}

.container {
    margin: 0 auto;
    padding: 10px 15px;
    max-width: 1240px;
}

._lock {
    overflow: hidden;
}

// common styles
@import "common/style";

// pages
@import "home-page/style";

//contacts
@import "contacts/style.scss"

